* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}
.yellow {
  background-image: url("./assets/Body.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 100%;
  background-position: center top;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  background: transparent;
  background-color: transparent;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 50;
}
.header-left {
  padding-bottom: 23px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 35px;
}
.book-now {
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .header-left {
    display: none;
  }
  header {
    padding: 1px 15px;
  }
  .logo {
    height: 60px;
    width: 160px;
  }
  .book-now {
    width: 90px;
    height: 80px;
  }
  .header-right {
    gap: 20px;
  }
  .menu-icon {
    width: 25px;
    height: 20px;
  }
}
.home-img {
  width: 100%;
  position: relative;
  .home-text {
    color: #fff;
    font-family: "Righteous";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 22%;
    width: 517px;
    left: 20%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .play-circle {
    position: absolute;
    top: 51%;
    left: 19%;
    width: 150px;
    height: 150px;
    z-index: 1;
  }
  .header-astro {
    max-width: 502px;
    max-height: 485px;
    position: absolute;
    right: 3%;
    bottom: 10%;
    object-fit: contain;
  }
  .marvel {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    bottom: 15%;
    left: 23%;
  }
  .girls-circle {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    top: 18%;
    right: 3%;
  }
  .space-ship {
    position: absolute;
    top: 40%;
    right: 7%;
    width: 100px;
    height: 100px;
  }
  .home-text-right {
    width: 300px;
    position: absolute;
    top: 24%;
    right: -13%;
    color: white;
  }
}

@media (max-width: 1162px) {
  .marvel {
    display: none;
  }
  .header-astro {
    display: none;
  }
  .book-now {
    height: 120px;
  }

  .play-circle {
    position: absolute;
    top: 48%;
    left: 19%;
    width: 120px;
    height: 120px;
    z-index: 1;
  }
  .home-text-right {
    width: 300px;
    position: absolute;
    top: 12%;
    right: -23%;
    color: white;
  }
}
@media (max-width: 1275px) and (min-width: 970px) {
  .space-ship {
    position: absolute;
    top: 45% !important;
    right: 7%;
    width: 100px;
    height: 100px;
  }
  .home-text-right {
    width: 300px;
    position: absolute;
    top: 25% !important;
    right: -23%;
    color: white;
  }
}
@media (max-width: 969px) {
  .space-ship {
    position: absolute;
    top: 70% !important;
    right: 7%;
    width: 100px;
    height: 100px;
  }
  .home-text-right {
    width: 300px;
    position: absolute;
    top: 40% !important;
    right: -23%;
    color: white;
  }
  .girls-circle {
    width: 120px !important;
    height: 120px !important;
    top: 28% !important;
  }
  .home-text {
    font-size: clamp(30px, 2vw, 30px) !important;
    font-weight: 400;
  }
}
@media (max-width: 699px) and (min-width: 502px) {
  .girls-circle {
    display: none;
  }
  .home-text-right {
    display: none;
  }
  .home-text {
    font-size: clamp(30px, 2vw, 30px) !important;
    line-height: normal;
    position: absolute;
    top: 25% !important;
    left: 20%;
  }
  .play-circle {
    position: absolute;
    top: 51%;
    left: 19%;
    width: 80px !important;
    height: 80px !important;
    z-index: 1;
  }
  .space-ship {
    top: 40% !important;
  }
}
@media (max-width: 501px) {
  .girls-circle {
    display: none;
  }
  .home-text-right {
    display: none;
  }
  .space-ship {
    width: clamp(70px, 1vw, 90px);
    position: absolute;
    top: 60% !important;
    right: 7%;
  }
  .book-now {
    display: none;
  }
  .logo {
    width: 120px;
    height: 100px;
    object-fit: contain;
  }
  .home-text {
    font-size: 18px !important ;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 40% !important;
    left: 20%;
    word-break: break-all;
  }
  .play-circle {
    position: absolute;
    top: 51%;
    left: 19%;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
  }
}
.main {
  padding: 5%;
}

.first-box {
  position: relative;
  height: 120px;
  max-width: 400px;
  margin-bottom: 40px;
  overflow: hidden;
}

.first-box-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.box1-title {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: "Righteous";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0% 10px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Righteous";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 457px) {
  .first-box {
    position: relative;
    height: 90px;
    max-width: 300px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .box1-title {
    font-size: 20px;
  }
}
/* ******************************************* */

.about {
  position: relative;
  padding: 10px 15px;
  min-height: 480px;
  width: 100%;
  overflow: hidden;
  margin-top: 6%;
  position: relative;
  z-index: 1;
}

.second-box-2 {
  position: relative;
  max-width: 340px;
  overflow: hidden;
}

.box2-title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: "Righteous";
}

.second-box-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.disc {
  /* background: rgba(116, 68, 218, 0.24); */
  max-width: 1100px;
  position: absolute;
  top: 85px;
  height: auto;
  left: 140px;
  z-index: -1;
  padding: 10px;
}

.astro-box {
  width: 100%;
  height: 100%;
  /* flex-shrink: 0; */
  opacity: 0.2362;
}

.space-title {
  max-width: 50%;
  font-family: "Space Mono";
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  top: 110px;
  left: 10%;
  z-index: 5;
  color: #fff;
}
.astro-ptn {
  /* max-width: 300px; */
  /* max-height: 560px; */
  position: absolute;
  right: 22%;
  top: 0;
  overflow: hidden;
}

.astronut {
  width: 100%;
  height: 100%;
  position: static;
  /* width: 15%; 
  height: auto; */
  object-fit: contain;
}
.parent-box {
  display: flex;
  position: absolute;
  right: -1%;
  column-gap: 12px;
  bottom: -4%;
  align-items: center;
  justify-content: end;
}
.box-1 {
  width: 210px;
  object-fit: contain;
}
.box-2 {
  width: 210px;
  object-fit: contain;
  background: #190b3c;
  mix-blend-mode: multiply;
}
@media (max-width: 1284px) {
  .parent-box {
    display: none;
  }
}
@media (max-width: 1275px) {
  .astro-ptn {
    max-width: 200px;
    max-height: 590px;
    position: absolute;
    right: 10%;
    top: 12%;
    overflow: hidden;
  }
}
@media (max-width: 1058px) and (min-width: 945px) {
  .about {
    position: relative;
    padding: 10px 15px;
    /* min-height: 580px; */
    overflow: hidden;
    margin-top: 6%;
  }
  .astro-ptn {
    max-height: auto;
    max-width: 200px;
    position: absolute;
    right: 10%;
    top: 6%;
    overflow: hidden;
  }
  .disc {
    min-height: 580px;
    padding: 30px 0px;
  }
  .space-title {
    max-width: 50%;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 50px;
    left: 10%;
    z-index: 5;
    color: #fff;
  }
}
@media (max-width: 944px) and (min-width: 666px) {
  .about {
    position: relative;
    padding: 20px 15px;
    overflow: hidden;
    margin-top: 6%;
    /* min-height: 320px; */
  }

  .astro-ptn {
    max-height: 100%;
    max-width: 180px;
    position: absolute;
    right: 5%;
    top: 12%;
    overflow: hidden;
  }
  .space-title {
    max-width: 50%;
    font-family: "Space Mono";
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 50px;
    left: 10%;
    z-index: 5;
    color: #fff;
    padding-top: 20px;
    word-wrap: break-word;
  }
  .disc {
    max-width: 1100px;
    height: 100%;
    position: relative;
    position: absolute;
    top: 120px;
    left: 140px;
    overflow: hidden;
    z-index: -1;
    padding: 5px;
  }
}
@media (max-width: 665px) and (min-width: 320px) {
  .astro-ptn {
    display: none;
  }
  .about {
    min-height: 250px;
  }
  .disc {
    position: relative;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
    margin-left: 30px;
  }
  .space-title {
    max-width: 100%;
    font-family: "Space Mono";
    font-size: 2vw; /* Responsive font size */
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 30px;
    left: 5%;
    right: 5%;
    z-index: 5;
    color: #fff;
  }
  .second-box-2 {
    position: relative;
    max-width: 300px;
    overflow: hidden;
  }

  .box2-title {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px; /* Responsive font size */
    font-weight: 400;
    font-family: "Righteous";
  }
}
@media (max-width: 400px) {
  .about {
    /* min-height: 250px; */
  }
}
@media (max-width: 363px) {
  .disc {
    position: relative;
    position: absolute;
    top: 90px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
    margin-left: 30px;
  }
}

/* ******************************** */

.ptn-cloud {
  width: 100%;
  margin-bottom: -16%;
  /* background-image: url("./assets/background.png"); */
  background-repeat: no-repeat;
}

.gtn {
  width: 100%;
}

.child-cloud {
  position: relative;
}

.yloo {
  object-fit: contain;
  width: 100%;
}
.main-bb-pp {
  position: absolute;
  top: 15%;
  left: 30%;
}
.rectangle-bb {
  position: relative;
  overflow-y: hidden;
  width: clamp(130px, 2vw, 220px);
}
.fook {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.reg-text {
  position: absolute;

  top: 27px;
  padding-left: 12px;

  color: #fff;
  font-family: "Space Mono";
  font-size: clamp(10px, 2vw, 14px);
  font-style: normal;
  font-weight: 700;
  text-align: start;
  line-height: 18px;
  overflow: hidden;
}
.cloud-text {
  position: absolute;
  left: 17%;
  top: 63%;
  color: #fff;
  font-family: "Righteous";
  /* font-size: 37px; */
  font-size: clamp(10px, 2vw, 37px);
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 576px) {
  .main-bb-pp {
    position: absolute;
    top: 3%;
    left: 30%;
  }
  .rectangle-bb {
    position: relative;
    overflow-y: hidden;
    width: clamp(90px, 2vw, 176px);
  }
  .reg-text {
    position: absolute;
    top: 15px;
    padding-left: 12px;
    color: #fff;
    font-family: "Space Mono";
    font-size: clamp(8px, 2vw, 16px);
    font-style: normal;
    font-weight: 200;
    text-align: start;
    overflow: hidden;
    line-height: 12px;
  }
}
/* *********************** */
.footer-parent {
  background-color: #575756;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  /* min-height: 600px; */
  /* position: relative; */
  /* background-image: url("./assets/Group\ 1120\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%; */
  /* z-index: 8; */
}

.second-group {
  padding-top: 12%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 3rem;
  color: #ffffff;
}

.small-ptn {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.kids-pant {
  display: flex;
}
.logo-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 250px;
}
.log {
  overflow: hidden;
  width: 185px;
  object-fit: contain;
}
.gp-parent {
  line-height: 40px;
}
.icon-parent {
  display: flex;
  gap: 15px;
}
#youtube {
  width: 30px;
  height: 21px;
}
#facebook {
  width: 33px;
  height: 21px;
}
.adeo-group {
  font-size: 10px;
  color: #ffff;
  font-weight: 400;
  font-family: "Space Mono";
}
.line {
  text-decoration: underline;
  padding-left: 5px;
}

/* *********************************** */
.group-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 250px;
  padding-top: 14px;
}
.grown {
  font-size: 29.69px;
  font-family: "Righteous";
  font-weight: 400;
}

.content-group-1 > ul {
  line-height: 24px;
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Space Mono";
}

/* *********************************** */
.group-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 250px;
  padding-top: 14px;
}
.grown {
  font-size: 29.69px;
  font-family: "Righteous";
  font-weight: 400;
}

.content-group-1 > ul {
  line-height: 24px;
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Space Mono";
}

/* *********************************** */
.two-content-gp {
  display: flex;
  width: 50%;
  column-gap: 5rem;
}
.second-gp {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 20px;
  padding-top: 14px;
}
.walls-ptn > ul {
  list-style-type: none;
  line-height: 24px;
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Space Mono";
}
.kids {
  font-size: 29.69px;
  font-family: "Righteous";
  font-weight: 400;
  letter-spacing: 1px;
}
.kids-pant {
  display: flex;
  column-gap: 3rem;
}
.kosmic-parent > ul {
  list-style-type: none;
  line-height: 24px;
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Space Mono";
}
/* ******************************************** */
.three-contnet {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding-top: 14px;
}
.us {
  font-size: 29.69px;
  font-family: "Righteous";
  letter-spacing: 1px;
  font-weight: 400;
}
.content-gp-4 > ul {
  list-style-type: none;
  line-height: 24px;
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  font-family: "Space Mono";
}

@media (max-width: 1082px) {
  .second-group {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
  }
  .small-ptn {
    width: 100%;
    justify-content: unset;
  }
  .two-content-gp {
    width: 100%;
  }
  .three-contnet {
    width: 100%;
  }
  .touch {
    display: none;
  }
}
@media (max-width: 1082px) {
  .small-ptn {
    flex-direction: column;
    align-items: start;
  }
  .logo-container {
    row-gap: 20px;
    height: auto;
  }
  .group-container {
    height: auto;
  }
}
@media (max-width: 461px) {
  .kids-pant {
    display: flex;
    flex-direction: column;
    /* column-gap: 3rem; */
  }
  ul > li {
    font-size: 13px;
    line-height: 20px;
  }
  .grown {
    font-size: 22px;
  }
  .group-container {
    row-gap: 10px;
  }
  .kids {
    font-size: 22px;
  }
  .second-gp {
    row-gap: 10px;
  }
  .three-contnet {
    row-gap: 10px;
  }
  .us {
    font-size: 22px;
  }
  .log {
    width: 190px;
    object-fit: contain;
  }
}

@media (max-width: 361px) {
  .log {
    overflow: hidden;
    width: 185px;
    max-height: 120px;
    object-fit: contain;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 180px;
  }
  .small-ptn {
    column-gap: 0px;
  }
  .gp-parent {
    overflow-y: hidden;
  }
}
